@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/**cm********************************************************************/

/* 2.6 수빈 수정 */
html{
    font-size: 16px;
    overscroll-behavior: contain;
}
.main{
    max-width: 430px;
    background-color: #fff;
    margin: 0 auto;
    min-height: 100vh;
}

/**main********************************************************************/

.main_text_box{
    text-align: center;
}
.main_text_box .icon_box{
    margin: 2rem 0;
}
.main_text_box .icon_box img{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.main_text_box h1,
.main_text_box h2,
.main_text_box p{
    font-family: 'JalnanGothic';
}
.main_text_box h1{
    font-size: 3rem;
    font-weight: 200;
    padding: 2rem 0;
    background-color: #000000;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
.main_text_box h2{
    font-size: 2rem;
    padding: 1.2rem 0;
}
.main_text_box h2 span{
    color: #036c28;
}
.main_text_box p{
   font-size: 1.4rem;
}
#startBtn{
    display: block;
    font-family: 'Bagel Fat One', system-ui;
    font-size: 2rem;
    padding: 0.6rem 8rem;
    background-color: #000000;
    color: #fff;
    margin: 2rem auto;
    border-radius: 5px;
}
#startBtn:hover{
    background-color: #036c28;
    color: #fff;
}

/* 2.4 수빈 수정 */
#count_box{
    font-size: 1.2rem;
    text-align: center;
}
.icon_list_box{
    display: flex;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    text-align: center;
}
.icon_list_box li{
    width: 25%;
}
.icon_list_box li a{
    display: block;
}
.icon_list_box li a span{
    font-size: 2.5rem;
}

/**question*******************************************************************/

/* 2.2 수빈 수정 ~~ */
.progress_top {
    padding-top: 1.5rem;
    margin: 0 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress_top>span {
    width: 5rem;
    display: block;
    text-align: right;
    margin-right: 0.3rem;
    font-size: 1.5rem;
    color: #686868;
}

.progress_top>span i {
    color: #686868;
    margin: 0 0rem 0.1rem 0.1rem;
}

.progress_top>a {
    color: #9f9f9f;
    width: 5rem;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.progress_top>a::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-top: solid 1px #9f9f9f;
    border-left: solid 1px #9f9f9f;
    transform: rotate(-45deg);
    margin: 0 1rem 0.1rem 0;
}

.homePopUp{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.homePopUp>div {
    position: absolute;
    background-color: #fff;
    height: 180px;
    width: 420px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% - 90px);
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.homePopUp>div h3 {
    margin: 3rem 0 2rem;
    font-size: 1.3rem;
}

.confirm-buttons{
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.homePopUp>div a{
    width: 40%;
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.8rem 2rem;
    margin: 0 0.5rem;
    box-shadow: 2px 2px 6px #d7d7d7;
    border-radius: 1rem;
    cursor: pointer;
}

#close{
    border: 1px solid #036c28;
    color: #036c28;
}

#confirm{
    background-color: #036c28;
    color: #fff;
    border: 1px solid #036c28;
}

#close:hover{
    border: 1px solid #000;
    color: #000;
}
#confirm:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.progress_all {
    margin: 3.5rem 0rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

.progress_all>span {
    width: 2rem;
    display: block;
    text-align: right;
    margin-right: 1rem;
    font-size: 1rem;
    color: #686868;
}
.progress_all>span:nth-child(3){
    text-align: left;
    margin: 0;
    margin-left: 1rem;
}

.progress {
    width: 100%;
    height: 0.5rem;
    background-color: #a9c79f;
    border-radius: 5px;
    position: relative;
}

#progress_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.5rem;
    background-color: #036c28;
    border-radius: 5px;
}

.middle{
    min-height:400px;
}
/* ~~2.2 수빈 수정 */

.question{
    width: 90%;
    margin: 0 auto;
}
#question_count{
    font-weight: 700;
    font-family: 'JalnanGothic';
    font-size: 1.4rem;
}
#question_list{
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
    margin-top: 2rem;
    line-height: 1.4;
    font-weight: 700;
}
.answer_list{
 margin:  3rem auto;
 width: 90%;
 display: flex;
 flex-direction: column;
}
.answer_list > li{
    margin-bottom: 1.4rem;
}
.answer_list > li input{
    display: none;
}
.answer_list > li label{
    font-size: 1.2rem;
    line-height: 1.4;
    display: block;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 6px #d7d7d7;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    outline: none;
}

/* 2.5 수빈 추가 */
@media screen and (max-width : 430px) {
    .homePopUp>div {
        width: 92%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* 마우스 호버 가능한 경우 */
/* @media (hover: hover) {
    .answer_list>li:hover label,
    .answer_list>li input:checked+label {
        background-color: #000;
        color: #fff;
    }
} */

/* 호버 불가능한 경우 */
/* @media (hover: none) {
    .answer_list>li:active label,
    .answer_list>li input:checked+label {
        background-color: #000;
        color: #fff;
    }
} */

/* 터치 가능한 기종 */
/* body[data-touchable='true'] {
    .answer_list>li:active label,
    .answer_list>li input:checked+label {
        background-color: #000;
        color: #fff;
    }
} */

/* 터치 불가능한 기종 */
/* body:not([data-touchable='true']) {
    .answer_list>li:hover label,
    .answer_list>li input:checked+label {
        background-color: #000;
        color: #fff;
    }
} */

@media (hover: none) or (pointer: coarse){
    /* 터치가능한 디바이스(스마트폰, 터치스크린)*/
    .answer_list>li:active label,
    .answer_list>li input:checked+label {
        background-color: red;
        color: #fff;
    }
}

@media (pointer: fine) and (hover: hover){
    /* hover 가능(마우스, 터치패드) */
    .answer_list>li:hover label,
    .answer_list>li input:checked+label {
        background-color: #000;
        color: #fff;
    }
}
/**load*******************************************************************/

.main.load{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loadMove{
    width: 50%;
}
.loadText{
    color: #fff;
    animation: opacityAni .6s ease-in-out infinite alternate;
}

/**result*******************************************************************/
.fit_result_title,
.opp_result_title,
.result_title{
    font-family: 'JalnanGothic';   
    text-align: center; 
    margin: 2rem 0;
    font-size: 1.8rem;
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    border-radius: 10px;
} 
.result_img_box{
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffd7e0;
}
.fit_sub_title,
.opp_sub_title,
.sub_title{
    text-align: center;
    margin: 2rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
}
.fit_mbti_tendency,
.opp_mbti_tendency,
.fit_mbti_caution,
.opp_mbti_caution,
.mbti_tendency,
.mbti_caution{
    margin: 1.4rem 0;
}
.fit_mbti_tendency li,
.opp_mbti_tendency li,
.fit_mbti_caution li,
.opp_mbti_caution li,
.mbti_tendency li,
.mbti_caution li{
    line-height: 1.2;
    text-align: center;
}
.result_other{
    display: flex;
}
.result_other > li{
    width: calc(50% - 5px);
    margin-right: 10px;
}
.result_other > li:last-child{
    margin-right: 0;
}
.result_other_img_box{
    width: 90%;
    margin: 1rem auto;
    min-height: 100px;
}
.result_other_img_box > img{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.result_same h4,
.result_tendency,
.result_caution,
.result_fit h4,
.result_opposition h4{
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
}
.percent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0f8d8;
    min-height: 100px;
    border-radius: 10px;
    margin: 1.5rem 0;

}
.fit,
.opposition{
    display: flex;
    flex-direction: column;
    background-color: #e0f8d8;
    align-items: center;
    min-height: 15rem;
    text-align: center;
    margin: 1rem 0;
    border-radius: 10px;
    cursor: pointer;
}
.percent span{
    display: block;
    font-size: 3rem;
    color: #036c28;
    font-family: 'JalnanGothic';
}
.fit span,
.opposition span{
    font-size: 1.2rem;
}
.btn_list button{
    display: block;
    font-family: 'Bagel Fat One', system-ui;
    background-color: #036c28;
    color: #fff;
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 0;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.btn_list button a{
    font-family: 'Bagel Fat One', system-ui;
    color: #fff;
    display: block;
}
.btn_list button:hover{
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    border: solid 1px #000;
}
.btn_list button:hover a{
    color: #000;
}
.developInfo,
.shareInfo,
.oppositionType,
.sameType{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.developInfo > div,
.shareInfo > div,
.oppositionType > div,
.sameType > div{
    position: absolute;
    background-color: #fff;
    width: 430px;
    left: calc(50% - 215px);
}
.developInfo > div{
    height: 400px;
    top: calc(50% - 200px);
}
.shareInfo > div{
    height: 180px;
    top: calc(50% - 90px);
}
/* 2.6 수빈 수정 */
.oppositionType > div,
.sameType > div{
    height: 600px;
    top: calc(50% - 300px);
    overflow-y: scroll;
    padding: 0.5rem 1rem 0;
    box-sizing: border-box;
}

.popupShow,
.shareShow,
.oppositionShow,
.sameShow{
    overflow: hidden;
}
body.popupShow .developInfo,
body.shareShow .shareInfo,
body.oppositionShow .oppositionType,
body.sameShow .sameType{
    display: block !important;
}
.developInfo > div{ 
    text-align: center;
}
.developInfo > div h3,
.shareInfo > div h3{
    margin: 2rem 0;
    font-size: 2rem;
}
.developInfo > div p{
    line-height: 1.4;
    font-size: 1.2rem;
}
.developInfo > div h5{
    margin: 2rem 0;
    line-height: 1.2;
}
.developInfo > div button,
.shareInfo > div button,
.oppositionType > div button,
.sameType > div button{
    position: absolute;
    background-color: #fff;
    font-size: 1.5rem;
}

.developInfo > div button,
.shareInfo>div button {
    right: 2rem;
    top: 2rem;
}
.oppositionType > div button,
.sameType > div button{
    right: 0;
    top: 0;
    margin: 5px 5px 0 0;
}

.developInfo > div > a{
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: #4f00b3;
    padding: 1.4rem 0;
    color: #fff;
    border-radius: 10px;
}

.shareInfo{
    text-align: center;
}
.shareList{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

/* 2.4 수빈 수정 */
.shareList li{
    width: 25%;
    margin-top: 10px;
}
.shareList li a{
    display: block;
}
.shareList li a span{
    display: block;
    font-size: 2.5rem;
}
.oppositionType .result_title,
.sameType .result_title{
    margin: 2.4rem 0 2rem;
}
.oppositionType > div,
.sameType > div{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.oppositionType > div::-webkit-scrollbar ,
.sameType > div::-webkit-scrollbar {
  display: none; 
}
.oppositionType .result_title,
.sameType .result_title{
    margin: 2.4rem 0 2rem;
}
.oppositionType > div,
.sameType > div{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.oppositionType > div::-webkit-scrollbar ,
.sameType > div::-webkit-scrollbar {
  display: none; 
}

/* 2.1 호범 추가 */
.fit_mbti_tendency li,
.fit_mbti_caution li,
.opp_mbti_tendency li,
.opp_mbti_caution li,
.mbti_caution li, 
.mbti_tendency li{
    margin: 1.2rem 0 0 1.2rem; 
}
/* 2.1 우주 추가*/
@keyframes opacityAni{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* 2.6 수빈 수정 */
@media screen and (max-width : 450px){
    body {
        width: 92%;
        margin: 0 auto;
    }
    .main_text_box>h1{
        font-size: 2.5rem;
    }
    .developInfo > div,
    .shareInfo > div,
    .oppositionType > div,
    .sameType > div{
        width: 92%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width : 375px){
    html{
        font-size: 14px;
    }
    .developInfo > div h5{
        margin: 5rem 0;
    }
    .shareInfo > div h3{
        margin: 2.5rem 0;
    }
    .oppositionType > div,
    .sameType > div{
        height: 500px;
        top: calc(50% - 250px);
    }
}
@media screen and (max-width : 320px){
    html{
        font-size: 12px;
    }
}